.fas {
  pointer-events: none;
}

.todo_div {
  transition: all 0.5s ease;
}

.donetodo {
  text-decoration: line-through;
  opacity: 0.5;
}

.deletetodo {
  transform: translateX(8rem);
  opacity: 0;
}
